/Piskel-0.14.0/
/__Archive/
/__Archived Latest TKinter Version/
/__Archived UI Versions/
/__Notes/
/Development Notes.txt
/saveFile
/saveFile - Backup - 2-10-20
/saveFile - Backup - 3-1-20
/saveFile - Good Demo Photo Setup
/notes/
/venv/
/.idea/
