colorama==0.4.3
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.4
pyparsing==2.4.7
pypiwin32==223
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.2
python-dateutil==2.8.1
pywin32==301
six==1.14.0
termcolor==1.1.0
